<form>
    <div class="p-4 my-2 flex flex-col md:w-80">
        <label for="name" class="uppercase mb-2 font-bold">Name of employee </label>
        <input class=" border rounded-sm border-gray-200 shadow p-2" type="text" placeholder="Enter name">
    </div>
    <div class="p-4 my-2 flex flex-col md:w-80">
        <label for="name" class="uppercase mb-2 font-bold">Location </label>
        <input class=" border rounded-sm border-gray-200 shadow p-2" type="text" placeholder="Enter location">
    </div>
    <div class="p-4 my-2 flex flex-col md:w-80">
        <label for="name" class="uppercase mb-2 font-bold">Designation </label>
        <input class=" border rounded-sm border-gray-200 shadow p-2" type="text" placeholder="Enter designation">
    </div>
    <div class="p-4 my-2 flex flex-col md:w-80">
        <button class="my-2 p-1 bg-emerald-400 shadow rounded-lg text-white">Add Employee</button>
        <button class="bg-white my-2 p-1 rounded-lg shadow">Cancel</button>    
    </div>
</form>
